.main-bg-color {
    background-color: rgba(0, 0, 255, 0.597);
    height: 40vh;
}

.score-bg-color {
    background-color: rgba(0, 0, 255, 0.799);
}

.bg-img {
    background-image: url("https://images.unsplash.com/photo-1591337621106-50811bdf60d5?q=80&w=1821&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.big-text {
    font-size: 4em;
}

.btn-primary {
    background-color: rgba(0, 0, 255, 0.697);
}

.btn-danger {
    background-color: rgba(194, 0, 0, 0.648);
}

@media screen and (max-width: 768px) {
    .bg-img {
        background-size: 500%;
    }
}